@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    border:0
}

html {
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
    overflow-x: hidden;
}

/******
NAVBAR
******/

#navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #102542;
}

#navbar-logo {
    width: 50vw;
}

#navbar-logo h1 {
    margin-left: 6rem;
    padding: 1.4rem;
}

#nav-link-div {
    width: 50vw;
}

#nav-link-list {
    margin-right: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
    align-items: center;
}

.nav-link {
    margin-right: 2.4rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFF;
}

.nav-link:hover {
    color: #F87060;
}

/***************
welcome-section
***************/

#welcome-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F87060;
}

#welcome-section h1 {
    font-size: 2.6rem;
}

#welcome-section p {
    color: #102542;
    font-style: italic;
    font-size: 2rem;
}

/********
PROJECTS
********/

#projects {
    background-color: #7B8CDE;
    text-align: center;
    padding: 1.2rem 1rem;
}

#projects h2 {
    font-size: 2rem;
    max-width: 650px;
    margin: 0 auto;
    border-bottom: 3px solid white;
}

.projects-grid {
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
}

.project-tile {
    text-decoration: none;
    background-color: #102542;
    -webkit-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5); 
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);
}

.project-tile p:hover {
    color: #F87060;
}

.project-tile img {
    width: 100%;
    height: auto;
}

.project-tile p {
    font-size: 1.5rem;
    color: #FFF;
    padding: 1.4rem;
}

/**********
CONTACT-ME
**********/

#contact-me {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F87060;
}

#contact-header h2 {
    font-size: 3.6rem;
}

#contact-links {
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

#contact-links a {
    display: inline-block;
    margin: 0.8rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-out;
}

#contact-links a:hover {
    color: #102542;
    transform: translateY(8px);
}

#contact-links i {
    margin-right: 0.5rem;
}

/**********
MEDIAQUERY
**********/

@media (max-width: 850px) {
    #nav-link-list {
        margin-right: 3rem;
    }
    .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 670px) {
    #navbar-logo {
        display: none;
    }
    #nav-link-div {
        width: 100vw;
        height: 4.8rem;
    }
    #nav-link-list {
        justify-content: center;
        margin-right: 0px;
    }
    .nav-link {
        margin-right: 0px;
        padding: 0 1rem;
    }
    #contact-header h2 {
        font-size: 2rem;
    }
    #contact-links {
        font-size: 1.4rem;
    }
    #projects h2 {
        font-size: 1.6rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .project-tile p {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

@media (max-width: 375px) {
    #welcome-section h1 {
        font-size: 2rem;
        padding: 0 1em;
    }
    #welcome-section p {
        font-size: 1.4rem;
    }
}